{% extends "base.html" %} {% block content %}

<div>
  <div class="container pt-4">
    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>Add New Task</h2>
        </div>
        <div class="p-4">
          <form action="/add-task" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <hr />
            <input type="submit" value="ADD" class="btn btn-info" />
          </form>
        </div>
      </div>

      <div class="col">
        <div class="border">
          {% if tasks|length == 0 %}

          <div class="p-4">
            <br />
            <br />
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px">NO Tasks</p>
            </div>
            <br />
            <br />
          </div>

          {% else %}
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Due Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ task.title }}</td>
                  <td>{{ task.description }}</td>
                  <td>{{ task.status }}</td>
                  <td>{{ task.priority }}</td>
                  <td>{{ task.due_date }}</td>
                  <td>
                    <div class="btn-group">
                      <a href="delete-task/{{ task.id }}" class="btn btn-sm btn-danger">
                        delete
                      </a>

                      {% if task.status == 'P' %}
                      <a href="change-status/{{ task.id }}/C" class="btn btn-sm btn-success">
                        complete
                      </a>
                      {% else %}
                      <a href="change-status/{{ task.id }}/P" class="btn btn-sm btn-warning">
                        pending
                      </a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}